npm-debug.log
.idea
.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/.next
/out

# static files
/static

# production
/build

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# eslint
.eslintcache

# Pagefind search index
public/_pagefind/
_pagefind/
