html, body {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    overflow-y: hidden;
}

body:not(.in-iframe) {
    overflow-y: auto;
}

.main-content {
    flex: 1;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto; /* Zorgt ervoor dat de inhoud in de iframe kan scrollen */
    padding: 20px;
    background: white;
}
