html, body {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    overflow-y: hidden;
}

body:not(.in-iframe) {
    overflow-y: auto;
}